.app-wrapper {
  margin: 0;
  display: grid;
  background: lightsteelblue;

  grid-template-areas:
  "homepageHeader homepageHeader"
  "homepageFooter content";

  grid-template-columns: 150px 1fr;
  grid-template-rows: auto auto;
}
