.homepageHeader{
    background: #27343C;
    border-bottom: 0px;
    grid-area: header;
}

.homepageHeader h1{
    margin:0;
    font-size: 14px;
}

.appLogo {
    height: 20px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .appLogo {
        animation: appLogo-spin infinite 20s linear;
    }
}

@keyframes appLogo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
