.dialog img{
	width: 80px;
	height: 80px;
	float: left;
	border: 1px solid cornflowerblue;
	border-radius: 100%;
}

.dialog{
	display: flex;
	margin-top: 15px;
	margin-left: 20px;
}

.dialog .groupName{
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 70px;
}

.dialog .groupName a{
	line-height: normal;
	vertical-align: middle;
	font-size: 32px;
	margin-left: 5px;
	color: white;
}